---
const {overskrift, imgSrc, roller, alt, link } = Astro.props;
---


<section class="border-solid border-pink border-4 rounded-sm">
    <h1 class="text-lilla bg-pink py-3 font-good">{overskrift}</h1>
    <a href={link}> <img src={imgSrc} alt={alt}>
</a>
    <h2 class="text-lilla bg-pink py-2 font-big">{roller}</h2>
</section>